<div class="table-container">
  <div class="table-header">
    <div class="dropdown-container">
      <div class="label">
        Region: 
      </div>
      <div>
        <dropdown class="dropdown" (change)="selectRegion($event.target.value)" [options]="regionNames" [placeholder]="'Select Region...'"></dropdown>
      </div>
    </div>
    <div class="dropdown-container">
      <div class="label">
        Country:
      </div>
      <div>
        <dropdown class="dropdown" (change)="selectCountry($event.target.value)" [options]="countryNames" [placeholder]="'Select Country...'"></dropdown>
      </div>
    </div>
  </div>
  <div class="table-body">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Capital</th>
          <th>Population</th>
          <th>Currencies</th>
          <th>Flag</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="selectedCountry">
          <td>{{ selectedCountry.name.common }}</td>
          <td>{{ selectedCountry?.capital[0] ? selectedCountry.capital[0] : '' }}</td>
          <td>{{ selectedCountry.population }}</td>
          <td>{{ formatCurrency(selectedCountry.currencies) }}</td>
          <td>{{ selectedCountry.flag }}</td>
        </tr>  
      </tbody>
    </table>
  </div>
</div>





